@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 868px;
  width: 550px;
  background-color: #23252c;
  padding: 0;
  margin: 0;
}

.business-card {
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 313px;
}

.contents {
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
